
canvas[data-v-479d4c48] {
  background: #30475e;
}



html, body, #app {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #222831;
    color: #f2a365;
}
a {
    color: #f2a365;
}
#menu, #main {
    float: left;
    height: 100%;
}
#menu {
    float: left;
    width: 150px;
}
#main {
    float: left;
    width: calc(100% - 150px);
}


